.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo PRÁCTICAS Y APLICACIONES DE AGRICULTURA ECOLÓGICA
            h1.curso-titulo Fundamentación de la Agricultura Ecológica

            .brand-line-primary
            
            br

            p.curso-descripcion Conocer la definición de agricultura ecológica, sus características, el impacto ambiental, las resoluciones que la rigen y los mercados para los productos ecológicos.

            a.curso-btn-iniciar.btn.btn-danger(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6

            .d-none.d-lg-block
            
                img(src="assets/images/header/header_media.png", style="max-width: 60%")