h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Fundamentación', 'main.html#page/fundamentacion/')
                    +navTemaItem('2', 'Características de la agricultura ecológica', 'main.html#page/caracteristicas/')
                    +navTemaItem('3', 'Impacto ambiental', 'main.html#page/impacto/')
                    +navTemaItem('4', 'Buenas prácticas agrícolas', 'main.html#page/buenas/')
                    +navTemaItem('5', 'Normatividad para insumos agrícolas ecológicos', 'main.html#page/normatividad/')
                    +navTemaItem('6', 'Salud ocupacional, Higiene y seguridad industrial', 'main.html#page/salud/')
                    +navTemaItem('7', 'Certificación ecológica', 'main.html#page/certificacion/')
                    +navTemaItem('8', 'Estrategias de comercialización y mercados verdes', 'main.html#page/estrategias/')