include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#fundamentacion

    .header-ecored

        h1 1. Fundamentación

    br#definicion

    .header-ecored

        h2 1.1 Definición

    .col-12

        p La agricultura ecológica es un sistema de producción en el que la fertilidad del suelo se toma como un factor primordial para la producción de alimentos, reduce de manera considerable el uso de insumos externos dentro de la unidad de producción y promueve las prácticas que garantizan la calidad y la inocuidad de los alimentos ecológicos durante toda su cadena de producción. Es decir, en la agricultura ecológica no se hace uso de semillas de Organismos Genéticamente Modificados (OGM), de fertilizantes, ni de productos para combatir plagas y enfermedades. Por lo tanto, se logra una producción sostenible y equilibrada que a la vez conserva	la fertilidad del suelo y respeta el medio ambiente.

        p Este tipo de producción también  conocida como biológica u orgánica, en un sistema de obtención de  alimentos tanto de origen animal como vegetal, de máxima calidad, que mantienen y mejoran la salud del consumidor y la fertilidad natural de la tierra libres de residuos químicos y conservando las características propias del medio ambiente.

img(src="assets/images/pages/img1.png", style="width: 100%; display: flex;")

.row(style="background-color: #596D13")

    .container

        .row.mx-0

            .col-6.my-5(style="border-right-style: solid; border-right-color: white; border-right-width: 1px")

                p(style="color: #FFFFFF")
                    i La Organización de las Naciones Unidas para la Agricultura y Alimentación FAO, define la agricultura ecológica como un método de gestión los ecosistemas sin recurrir al uso de insumos agrícolas. Es un sistema que inicia teniendo en cuenta las posibles consecuencias ambientales y sociales, eliminando la utilización de fertilizantes, plaguicidas, medicamentos veterinarios, conservantes, aditivos y organismos genéticamente modificados. En contraposición a esto se realizan prácticas de gestión especificar el sitio para mantener e incrementar la fertilidad del suelo y evitar la propagación de plagas y enfermedades.

                a(href="http://www.fao.org/organicag/oa-faq/oa-faq1/es/", target="_blank") http://www.fao.org/organicag/oa-faq/oa-faq1/es/

            .col-6.my-5

                p(style="color: #FFFFFF")
                    i “La agricultura orgánica es un sistema holístico de gestión de la producción que fomenta y mejora la salud del agroecosistema, y en particular la biodiversidad, los ciclos biológicos, y la actividad biológica del suelo. Hace hincapié en el empleo de prácticas de gestión prefiriéndolas respecto al empleo de insumos externos a la finca, teniendo en cuenta que las condiciones regionales requerirán sistemas adaptados localmente. Esto se consigue empleando, siempre que sea posible, métodos culturales, biológicos y mecánicos, en contraposición al uso de materiales sintéticos, para cumplir cada función específica dentro del sistema”.

br#objetivos

.container

    .header-ecored

        h2 1.2 Objetivos

    .col-12

        p Según la Federación Internacional de Movimientos de Agricultura Orgánica (IFOAM), los siguientes son los objetivos básicos de la Agricultura Ecológica:

        br

        .row

            .col-1.text-right

                p.m-0.p-0
                    strong 1

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Producir alimentos de alta calidad nutritiva y en suficiente cantidad.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 2

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Trabajar con los ecosistemas en lugar de querer dominarlos.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 3

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Mantener y aumentar a largo plazo la fertilidad de los suelos.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 4

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Empleo de los recursos renovables locales en los sistemas agrícolas.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 5

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Reciclaje de nutrientes minerales y materia orgánica.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 6

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Mantener la diversidad genética del sistema agrícola y de su entorno, incluyendo protección de hábitat de plantas y animales silvestres.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 7

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Proporcionar a las especies animales las condiciones de vida que les permitan realizar su comportamiento innato.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 8

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Fomentar los ciclos bióticos dentro del sistema agrícola que comprende microorganismos, fauna y flora del suelo, las plantas y los animales.
        .row.py-2

            .col-1.text-right

                p.m-0.p-0
                    strong 9

            .col-7(style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 1px")

                p.m-0.p-0
                    strong Lograr con las prácticas desarrolladas en el proceso productivo, un ingreso económico familiar y comunal satisfactorio.
        
        br

        p La agricultura ecológica es un sistema agrario cuya esencia es la producción de alimentos de máxima calidad, respetando el medio ambiente y conservando la fertilidad de la tierra mediante la utilización óptima de los recursos naturales.

br#diferencia

.container

    .header-ecored

        h2 1.3 Diferencia con otros sistemas
    
    .row.mx-0

        .col-12

            p La agricultura ecológica se diferencia de otros sistemas de producción agrícola en dos aspectos fundamentales como son:

        .col-12.text-center

            br

            img(src="assets/images/pages/img2.png", style="max-width: 80%")

br#ventajas

.container

    .header-ecored

        h2 1.4 Ventajas
    
    .row.mx-0

        .col-12


            p Se podría concluir diciendo que la agricultura ecológica es un sistema de producción que se puede aplicar a diferentes escalas y que sus principales ventajas son:

            .col-12.text-center

                br

                img(src="assets/images/pages/img3.png", style="max-width: 80%")