include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#impacto

    h1 3. Impacto ambiental

    .brand-line-primary

    br

.container#concepto

    h2 3.1 Concepto

    .row-12.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VycXgmorkPg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

.container#metodos

    h2 3.2 Métodos de Medición

    .brand-line-primary

    .row-12

        p Resulta muy importante la Evaluación del Impacto Ambiental (EIA), que esta es una herramienta fundamental para tomar decisiones sobre proyectos, obras y actividades que puedan llegar a generar grandes impactos ambientales.

        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R_V_EV0Ijxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br

.container#valoracion

    h2 3.3 Valoración del Impacto Ambiental

    .brand-line-primary

    .row-12

        p Existen tres tipos de valoración para la Evaluación del Impacto Ambiental:

    .row-12.text-center

        img(src="assets/images/pages/img10.png", style="width: 30%")

    .row-12

        .col.text-center

            p.text-right
            | Tipos de Valoración del Impacto Ambiental  - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.htm", target="_blank") http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.htm
    
    .row-12

        br

        p Con cualquiera de los métodos utilizados para valorar el impacto, la evaluación concluye con un juicio sobre los efectos perjudiciales causados al medio ambiente.