include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#impacto

    .header-ecored

        h1 3. Impacto ambiental
    
br#concepto

.container

    .header-ecored

        h2 3.1 Concepto

    .row.mx-0

        .col-12
        
            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VycXgmorkPg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

br#metodos

.container

    .header-ecored

        h2 3.2 Métodos de Medición

    .row.mx-0

        .col-12

            p Resulta muy importante la Evaluación del Impacto Ambiental (EIA), que esta es una herramienta fundamental para tomar decisiones sobre proyectos, obras y actividades que puedan llegar a generar grandes impactos ambientales.

            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R_V_EV0Ijxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
br#valoracion

.container

    .header-ecored

        h2 3.3 Valoración del Impacto Ambiental
    
    .row.mx-0

        p Existen tres tipos de valoración para la Evaluación del Impacto Ambiental:

        .col-12.text-center

            img(src="assets/images/pages/img10.png", style="width: 30%")
            
        .col-12

            br

            p Con cualquiera de los métodos utilizados para valorar el impacto, la evaluación concluye con un juicio sobre los efectos perjudiciales causados al medio ambiente.