include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#impacto

    .header-ecored

        h1 3. Impacto ambiental
    
br#concepto

.container

    .header-ecored

        h2 3.1 Concepto

    .row.mx-0

        .col-12
        
            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VycXgmorkPg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body

                    .card-text

                        .row

                            .col-12

                                p El impacto ambiental son los efectos y resultados del accionar del ser humano en el medio ambiente. Por lo tanto, resulta necesario estudiar y analizar las consecuencias y la gravedad del daño que el ser humano está produciendo sobre el medio ambiente a causa del uso desmedido que realiza de todos los recursos naturales, en especial el suelo y del agua.

                                br

                                p Determinadas prácticas agropecuarias producen un impacto ambiental alteraciones graves en el equilibrio natural de los recursos.

                            .col-12.text-center.py-4

                                img(src="assets/images/pages/img28.svg", style="width: 70%")

br#metodos

.container

    .header-ecored

        h2 3.2 Métodos de Medición

    .row.mx-0

        .col-12

            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/R_V_EV0Ijxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body

                    .card-text

                        .row

                            .col-12

                                p Resulta muy importante la Evaluación del Impacto Ambiental (EIA), que esta es una herramienta fundamental para tomar decisiones sobre proyectos, obras y actividades que puedan llegar a generar grandes impactos ambientales. En determinadas obras, como las de infraestructura, la Evaluación de Impacto Ambiental es obligatoria para la obtención de la respectiva Licencia Ambiental para su construcción y operación.

                                br

                                p Una metodología de impacto ambiental debe realizarse con la finalidad de identificar, predecir, cuantificar y valorar los efectos negativos que pueden llegar a causarse al realizar un proyecto, obra o actividad.

    .row.mx-0

        .col-12.text-center.py-3

            img(src="assets/images/pages/img23.svg", style="max-width: 100%")
    
br#valoracion

.container

    .header-ecored

        h2 3.3 Valoración del Impacto Ambiental
    
    .row.mx-0

        .col-12

            p Existen tres tipos de valoración para la Evaluación del Impacto Ambiental:

    .row.mx-0

        .col-12

            p Con cualquiera de los métodos utilizados para valorar el impacto, la evaluación concluye con un juicio sobre los efectos perjudiciales causados al medio ambiente.

    .row.mx-0

        .col-12.text-center.py-4

            img(src="assets/images/pages/img10.png", style="width: 30%")