include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#impacto

    h1 3. IMPACTO AMBIENTAL

    .brand-line-primary

    br

.container#concepto

    h2 3.1 Concepto

    .brand-line-primary

    p El impacto ambiental son los efectos y resultados del accionar del ser humano en el medio ambiente. Por lo tanto, resulta necesario estudiar y analizar las consecuencias y la gravedad del daño que el ser humano está produciendo sobre el medio ambiente a causa del uso desmedido que realiza de todos los recursos naturales, en especial el suelo y del agua.

    p Determinadas prácticas agropecuarias producen un impacto ambiental alteraciones graves  en el equilibrio natural de los recursos.

    .row-12.text-center

        img(src="assets/images/pages/img8.png", style="width: 90%")
    
    br

.container#metodos

    h2 3.2 Métodos de Medición

    .brand-line-primary

    .row-12

        p Resulta muy importante la Evaluación del Impacto Ambiental (EIA), que esta es una herramienta fundamental para tomar decisiones sobre proyectos, obras y actividades que puedan llegar a generar grandes impactos ambientales. En determinadas obras, como las de infraestructura, la Evaluación de Impacto Ambiental es obligatoria para la obtención de la respectiva Licencia Ambiental para su construcción y operación.

        p Una metodología de impacto ambiental  debe realizarse con la finalidad de identificar, predecir, cuantificar y valorar los efectos negativos que pueden llegar a causarse al realizar un proyecto, obra o actividad. 

    .row-12.text-center

        img(src="assets/images/pages/img9.png", style="width: 100%")

    .row

        .col.text-center(style="font-size: 12px")

            p.text-right
            | Métodos para EIA - Fuente SENA tomado de: 
            a.m-0.p-0(href="https://academia.unad.edu.co/images/investigacion/hemeroteca/RIAA/RIAA_Vol4_N2/Metodos%20de%20Evaluacion%20de%20Impacto.pdf", target="_blank") https://academia.unad.edu.co/images/investigacion/hemeroteca/RIAA/RIAA_Vol4_N2/Metodos%20de%20Evaluacion%20de%20Impacto.pdf
    
    br

.container#valoracion

    h2 3.3 Valoración del Impacto Ambiental

    .brand-line-primary

    .row-12

        p Existen tres tipos de valoración para la Evaluación del Impacto Ambiental:

    .row-12.text-center

        img(src="assets/images/pages/img10.png", style="width: 40%")

    .row-12

        .col.text-center(style="font-size: 12px")

            p.text-right
            | Tipos de Valoración del Impacto Ambiental  - Fuente SENA tomado de: 
            a.m-0.p-0(href="http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.htm", target="_blank") http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.htm
    
    .row-12

        br

        p Con cualquiera de los métodos utilizados para valorar el impacto, la evaluación concluye con un juicio sobre los efectos perjudiciales causados al medio ambiente.