include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#normatividad

    .header-ecored

        h1 5. Normatividad para insumos agrícolas ecológicos

    .row.mx-0

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img18.png", style="max-width: 80%")

        .col-12.col-md-6

            p En Colombia el Instituto Colombiano Agropecuario ICA, es el organismo encargado de ejercer autoridad para realizar todo tipo de control técnico y científico en cuanto a acondicionadores de suelo y bioinsumos agrícolas, utilizados en la agricultura ecológica como agentes microbiales y extractos vegetales para la nutrición de las plantas, prevención, control y erradicación de plagas y enfermedades.

            p Las funciones del ICA en cuanto a insumos ecológicos, se relacionan con aspectos como los siguientes:
        
        .col-12.text-center.py-4

            img(src="assets/images/pages/img19.png", style="width: 40%")

        .col-12

            p Uno de los objetivos principales del ICA es el de alcanzar un mayor grado de seguridad alimentaria a través de aumentar las producciones de alimentos básicos, sustituir las importaciones y aumentar las exportaciones, teniendo como premisa reducir los riesgos para la salud humana, la sanidad agropecuaria y el ambiente.

            p De acuerdo con las necesidades de la industria de los productos agrícolas de carácter ecológico, el ICA presta los siguientes servicios:
        
        .col-12.text-center.py-3

            img(src="assets/images/pages/img25.svg", style="width: 50%")

    .row.mx-0

        .col-12

            br

            p Para el cumplimiento de sus funciones y la prestación de los servicios relacionados con los insumos ecológicos, el ICA ha realizado las siguientes resoluciones:

br#0150

.container

    .header-ecored

        h2 5.1 Resolución 0150 de 2003

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img115.png", style="width: 80%")
    
br#0148

.container

    .header-ecored

        h2 5.2 Resolución 0148 de 2004

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img116.png", style="width: 80%")
    
br#0187

.container

    .header-ecored

        h2 5.3 Resolución 0187 de 2006

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img117.png", style="width: 80%")
    
br#0698

.container

    .header-ecored

        h2 5.4 Resolución 0698 de 2011

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img118.png", style="width: 80%")
    
br#199

.container

    .header-ecored

        h2 5.5 Resolución 199 de 2016

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img119.png", style="width: 80%")