include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#normatividad

    h1 5. Normatividad para insumos agrícolas ecológicos

    .brand-line-primary

    br

    .row(style="display: flex")

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img18.png", style="max-width: 80%")

        .col-12.col-md-6

            p En Colombia es el Instituto Colombiano Agropecuario ICA, es el organismo encargado de ejercer autoridad para realizar todo tipo de control técnico y científico en cuanto a acondicionadores de suelo y bioinsumos agrícolas, utilizados en la agricultura ecológica como agentes microbiales y extractos vegetales para la nutrición de las plantas, prevención, control y erradicación de plagas y enfermedades.

            p Las funciones del ICA en cuanto a insumos ecológicos, se relacionan con aspectos como los siguientes:
    
    br
    
    .row-12.text-center

        img(src="assets/images/pages/img19.png", style="width: 40%")

    br

    .row.justify-content-center

        .col-6.text-center

            p.text-right
            | Funciones del ICA en cuanto a Insumos Ecológicos - Fuente SENA tomado de: 
            a.m-0.p-0(href="https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx", target="_blank") https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx
    
    br

    p Uno de los objetivos principales del ICA es el de alcanzar un mayor grado de seguridad alimentaria a través de aumentar las producciones de alimentos básicos, sustituir las importaciones y aumentar las exportaciones, teniendo como premisa reducir los riesgos para la salud humana, la sanidad agropecuaria y el ambiente.

    p De acuerdo con las necesidades de la industria de los productos agrícolas de carácter ecológico, el ICA presta los siguientes servicios:

    br
    
    .row-12.text-center

        img(src="assets/images/pages/img20.png", style="width: 50%")

    br

    .row.justify-content-center

        .col-6.text-center

            p.text-right
            | Figura 23. Servicios que presta el ICA en cuanto a insumos ecológicos. - Fuente SENA Tomado de: 
            a.m-0.p-0(href="https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx", target="_blank") https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx
    
    br

    p Para el cumplimiento de sus funciones y la prestación de los servicios relacionados con los insumos ecológicos, el ICA ha realizado las siguientes resoluciones:

    br

.container#0150

    h2 5.1 Resolución 0150 de 2003

    .brand-line-primary

    br

    .row-12.text-center

        img(src="assets/images/pages/img21.png", style="width: 80%")
    
    br

.container#0148

    h2 5.2 Resolución 0148 de 2004

    .brand-line-primary

    br

    .row-12.text-center

        img(src="assets/images/pages/img22.png", style="width: 80%")
    
    br

.container#0187

    h2 5.3 Resolución 0187 de 2006

    .brand-line-primary

    br

    .row-12.text-center

        img(src="assets/images/pages/img23.png", style="width: 80%")
    
    br

.container#0698

    h2 5.4 Resolución 0698 de 2011

    .brand-line-primary

    br

    .row-12.text-center

        img(src="assets/images/pages/img24.png", style="width: 80%")
    
    br

.container#199

    h2 5.5 Resolución 199 de 2016

    .brand-line-primary

    br

    .row-12.text-center

        img(src="assets/images/pages/img25.png", style="width: 80%")
    
    br