include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#salud

    .header-ecored

        h1 6. Salud ocupacional, higiene y seguridad industrial

br#ocupacional

.container

    .header-ecored

        h2 6.1 Salud ocupacional

    .row.mx-0

        .col-12
            
            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/LOOCn_JwAWs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .row.mx-0

        .col-12

            p Según la Organización Mundial de la Salud (OMS), la salud ocupacional es una actividad que involucra diferentes disciplinas para controlar y realizar medidas de prevención tendientes a cuidar la salud de los trabajadores, que desde todo punto de vista, son el activo más valioso de una empresa. Previniendo enfermedades, accidentes laborales y cualquier otro aspecto que ponga en peligro la vida, la salud y la seguridad de las personas en sus respectivos sitios de trabajo. 
                a(href="https://concepto.de/salud-ocupacional/#ixzz600ho2RhL" target="_blank") https://concepto.de/salud-ocupacional/#ixzz600ho2RhL

br#higiene

.container

    .header-ecored

        h2 6.2 Higiene
    
    .row.mx-0

        .col-1.text-center

            img(src="assets/images/pages/img29.svg", style="max-width: 100%")

        .col-11

            p Es la aplicación de diferentes conocimientos y técnicas para controlar factores nocivos para la salud, previniendo agentes físicos, químicos o biológicos que se encuentran en los ambientes y que impactan de forma negativa la salud y el bienestar de los trabajadores. 
                a(href="http://prevencionlaboralrimac.com/Cms_Data/Contents/RimacDataBase/Media/fasciculo-prevencion/FASC-8588152603585155654.pdf" target="_blank") http://prevencionlaboralrimac.com/Cms_Data/Contents/RimacDataBase/Media/fasciculo-prevencion/FASC-8588152603585155654.pdf

br#seguridad

.container

    .header-ecored

        h2 6.3 Seguridad industrial
    
    .row.mx-0

        .col-1.text-center

            img(src="assets/images/pages/img30.svg", style="max-width: 100%")

        .col-11

            p Sistema obligatorio que tiene como objetivo la prevención y limitación de riesgos de accidentes a las personas, bienes o al medio ambiente, derivados de la actividad industrial, de funcionamiento y mantenimiento de las instalaciones o equipos de producción.

            p En Colombia, las empresas son cada vez más responsables con respecto a la importancia de contar con un sistema de gestión de seguridad industrial para proteger a sus empleados, y aunque en las empresas agrícolas esto puede no ser tan común, cuando se habla de BPA, es un requisito obligatorio.
    
    .row.mx-0

        .col-12

            br

            p El bienestar de los trabajadores está encaminando a promover su calidad de vida por medio de una existencia tranquila, productividad y satisfecha. 
                a(href="https://www.ica.gov.co/areas/agricola/servicios/inocuidadagricola/capacitacion/cartillabpa.aspx" target="_blank") https://www.ica.gov.co/areas/agricola/servicios/inocuidadagricola/capacitacion/cartillabpa.aspx