include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#salud

    h1 6. SALUD OCUPACIONAL, HIGIENE Y SEGURIDAD INDUSTRIAL.

    .brand-line-primary

    .row-12.my-5
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/fCS0WEcYbmo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body

                .card-text

                    p SALUD OCUPACIONAL