include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#certificacion

    h1 7. Certificación ecológica

    .brand-line-primary

    br

.container#procedimientos

    h2 7.1 Procedimientos para Obtener la Certificación

    .brand-line-primary

    .row(style="display: flex")

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img26.png", style="max-width: 50%")

        .col-12.col-md-6

            p El impacto ambiental son los efectos y resultados del accionar del ser humano en el medio ambiente. Por lo tanto, resulta necesario estudiar y analizar las consecuencias y la gravedad del daño que el ser humano está produciendo sobre el medio ambiente a causa del uso desmedido que realiza de todos los recursos naturales, en especial el suelo y del agua.

            p Determinadas prácticas agropecuarias producen un impacto ambiental alteraciones graves  en el equilibrio natural de los recursos.
    
    br

    .row-12.text-center

        img(src="assets/images/pages/img27.png", style="width: 70%")

    br

    .row.justify-content-center

        .col-6.text-center(style="font-size: 12px; margin-top: -25px")

            p.text-right
            | Actividades antes de solicitar la Certificación Ecológica - Fuentes SENA tomado de: 
            a.m-0.p-0(href="https://www.ica.gov.co/areas/agricola/servicios/inocuidad-agricola/capacitacion/cartillabpa.aspx", target="_blank") https://www.ica.gov.co/areas/agricola/servicios/inocuidad-agricola/capacitacion/cartillabpa.aspx
    
    br

    p Después de realizar en el cultivo todas las actividades anteriores, se procede a solicitar la certificación. 

    p Es necesario conocer que este es un proceso voluntario por medio del han cual se certifica que todos los requisitos exigidos por las buenas prácticas agrícolas se han cumplido con el propósito de generar un ambiente de confianza entre el consumidor final y el productor agrícola.

    p Para iniciar el proceso de certificación es importante contar con la siguiente información y documentos básicos:

    .row-12.text-center

        img(src="assets/images/pages/img28.png", style="width: 70%")

    br

br

.container#organismos

    h2 7.2. Organismos de control o certificadoras ecológicas en el país

    .brand-line-primary

    .row(style="display: flex")

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img29.png", style="max-width: 60%")

        .col-12.col-md-6

            p El control y certificación es necesario para la garantía del consumidor y la protección del agricultor de que está cumpliendo con las normas establecidas.

            p El Artículo 22 de la Resolución 0187/2006, en literal h, determina que es “el Ministerio de Agricultura y Desarrollo Rural, la entidad competente para coordinar el Sistema Nacional de Control para la producción ecológica y debe colocar a disposición de los interesados una lista con los nombres de los operadores que están sometidos al Sistema Nacional de Control, así como el tipo de producto certificado y el organismo que le certifica”.

            p
                a.m-0.p-0(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf", target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf
    
    br

br

.container#entidades

    h2 7.3 Entidades Certificadoras

    .brand-line-primary

    .row(style="display: flex")

        .col-12.col-md-6

            p Actualmente el listado de entidades autorizadas por el Ministerio de Agricultura y Desarrollo Rural como certificadoras de Agricultura Ecológica, son las siguientes:

            p
                a.m-0.p-0(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/3648/1/20061110121639_AGRICULTURAECOLOGICAMADR2006.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/3648/1/20061110121639_AGRICULTURAECOLOGICAMADR2006.pdf

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img30.png", style="max-width: 60%")