include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#certificacion

    .header-ecored

        h1 7. Certificación ecológica

br#procedimientos

.container

    .header-ecored

        h2 7.1 Procedimientos para obtener la certificación

    .row.mx-0.align-items-center

        .col-12.col-md-4.text-center.my-3

            img(src="assets/images/pages/img26.png", style="max-width: 70%")

        .col-12.col-md-8

            p La certificación ecológica de un producto agrícola demuestra que este ha sido producido según la norma establecida y que podrá comercializarse como alimento ecológico por tener la certificación emitida por una entidad autorizada por el Ministerio de Agricultura y Desarrollo Rural.

            p Para la obtención de esta certificación es necesario realizar en el cultivo diez actividades fundamentales:

    .row.mx-0

        .col-12.text-center.py-3

            img(src="assets/images/pages/img27.png", style="width: 70%")

    .row.mx-0

        .col-12.py-2

            br

            p Después de realizar en el cultivo todas las actividades anteriores, se procede a solicitar la certificación. 

            p Es necesario conocer que este es un proceso voluntario por medio del cual se certifica que todos los requisitos exigidos por las buenas prácticas agrícolas se han cumplido con el propósito de generar un ambiente de confianza entre el consumidor final y el productor agrícola.

            p Para iniciar el proceso de certificación es importante contar con la siguiente información y documentos básicos:

    .row.mx-0.py-2

        .col-12.text-center

            img(src="assets/images/pages/img20.svg", style="width: 70%")

br#organismos

.container

    .header-ecored

        h2 7.2. Organismos de control o certificadoras ecológicas en el país

    .row

        .col-12.col-md-6.text-center.my-3

            img(src="assets/images/pages/img29.png", style="max-width: 60%")

        .col-12.col-md-6

            p El control y certificación es necesario para la garantía del consumidor y la protección del agricultor de que está cumpliendo con las normas establecidas.

            p El Artículo 22 de la Resolución 0187/2006, en literal h, determina que es “el Ministerio de Agricultura y Desarrollo Rural, la entidad competente para coordinar el Sistema Nacional de Control para la producción ecológica y debe colocar a disposición de los interesados una lista con los nombres de los operadores que están sometidos al Sistema Nacional de Control, así como el tipo de producto certificado y el organismo que le certifica”. 
                a(src="https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf" target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf

br#entidades

.container

    .header-ecored

        h2 7.3 Entidades Certificadoras


    .row
    
        .col-12

            p.m-0 Actualmente el listado de entidades autorizadas por el Ministerio de Agricultura y Desarrollo Rural como certificadoras de Agricultura Ecológica, son las siguientes:

        .col-12.text-center.py-4

            img(src="assets/images/pages/img26.svg", style="max-width: 60%")