include ../mixins/functions

+pageHeader('Fundamentación de la Agricultura Ecológica', 'assets/images/header/header_media.png')

.container#certificacion

    .header-ecored

        h1 8. Estrategias de comercialización y mercados verdes

    .row.mx-0.align-items-center

        .col-12.col-md-4.text-center.my-3

            img(src="assets/images/pages/img31.png", style="max-width: 70%").img-fluid

        .col-12.col-md-8

            p “Todo producto agropecuario que se comercialice bajo la denominación de “Producto Agropecuario Ecológico”, deberá estar certificado por un organismo de certificación autorizado por el Ministerio de Agricultura y Desarrollo Rural”. 
                a(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf" target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf
            
            p.m-0 La estrategia de comercialización de los productos ecológicos reviste gran importancia porque los países en este segmento de la producción tienen una forma de elevar su economía y obtener preferencias arancelarias, además firmar  tratados en los  puedan tener ventajas competitivas.

    .row.mx-0.py-3

        .col-12.text-center

            p Las estrategias de comercialización o marketing, suelen dividirse en 4 tipos:

    .row.justify-content-center

        .col-12.col-md-4

            p Las estrategias de comercialización o marketing, suelen dividirse en 4 tipos:

            p En la agricultura ecológica la principal estrategia de comercialización es la de productos, porque se llega a los mercados con un alimento inocuo,  sano, producido respetando los sistemas naturales y, brindando condiciones de bienestar para los trabajadores del campo, entre otros.

        .col-12.col-md-4.text-center.my-3

            img(src="assets/images/pages/img21.svg", style="max-width: 90%")
        
br#mercados

.container

    .header-ecored

        h2 8.1 Mercados Verdes

    .row.mx-0

        .col-12

            p Son los mercados donde se comercializan productos y servicios que están diseñados para proteger el medio ambiente ya que producen el menor impacto posible sobre los ecosistemas y se logran con un aprovechamiento sostenible de los recursos naturales.

            p.m-0 El Ministerio de Medio Ambiente diseñó un Plan Estratégico Nacional de Mercados de Verdes, el cual divide estos mercados en cuatro estrategias:

        .col-12.py-4.text-center

            img(src="assets/images/pages/img27.svg", style="max-width: 50%")
        
br#programa

.container

    .header-ecored

        h2 8.2 Programa Nacional de Agricultura Ecológica (PNAE)

    .row

        .col-12

            p El objetivo del Programa Nacional de Agricultura Ecológica es el de garantizar la sostenibilidad y la renovabilidad de los recursos naturales, mejorando la calidad del ambiente mediante limitaciones en la utilización de tecnologías, fertilizantes o plaguicidas, antibióticos y otras sustancias de origen químico sintético, que puedan tener efectos nocivos para el medio ambiente y la salud humana. 
                a(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf" target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf