.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong La agricultura ecológica en Colombia
                td PDF
                td 
                    a(href="media/documentos/MC_20061110121639_AGRICULTURAECOLOGICAMADR2006.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Buenas prácticas agrícolas
                td PDF
                td 
                    a(href="media/documentos/MC_buenas_practicas_agricolas.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong Cartilla BPA
                td PDF
                td 
                    a(href="media/documentos/MC_cartillaBPA.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td
                    strong Reglamento para la producción organica
                td PDF
                td 
                    a(href="media/documentos/MC_Reglamento_para_la_produccion_organica.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar