.container

  ol

    li
      p 
        a(href="https://www.larioja.org/agricultura/es/calidad-agroalimentaria/agricultura-ecologica/agricultura-ecologica", target="_blank") https://www.larioja.org/agricultura/es/calidad-agroalimentaria/agricultura-ecologica/agricultura-ecologica

    li
      p 
        a(href="https://www.ica.gov.co/areas/agricola/servicios/agricultura-ecologica-1.aspx", target="_blank") https://www.ica.gov.co/areas/agricola/servicios/agricultura-ecologica-1.aspx

    li
      p
        a(href="http://www.fao.org/3/ad818s/ad818s03.html", target="_blank") http://www.fao.org/3/ad818s/ad818s03.html

    li
      p
        a(href="https://www.eneek.eus/files/2017/03/20150525_Nekazaritza%20ekologikoaren%20erdera%20(2).pdf", target="_blank") https://www.eneek.eus/files/2017/03/20150525_Nekazaritza%20ekologikoaren%20erdera%20(2).pdf

    li
      p
        a(href="https://agua.org.mx/wp-content/uploads/2017/05/Impactos-ambientales-en-agricultura.pdf", target="_blank") https://agua.org.mx/wp-content/uploads/2017/05/Impactos-ambientales-en-agricultura.pdf

    li
      p
        a(href="https://academia.unad.edu.co/images/investigacion/hemeroteca/RIAA/RIAA_Vol4_N2/Metodos%20de%20Evaluacion%20de%20Impacto.pdf", target="_blank") https://academia.unad.edu.co/images/investigacion/hemeroteca/RIAA/RIAA_Vol4_N2/Metodos%20de%20Evaluacion%20de%20Impacto.pdf

    li
      p
        a(href="http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.html", target="_blank") http://www2.caminos.upm.es/Departamentos/matematicas/Fdistancia/PIE/EIA/mod3/modulo3.html

    li
      p
        a(href="https://www.casafe.org/buenas-practicas-agricolas/", target="_blank") https://www.casafe.org/buenas-practicas-agricolas/

    li
      p
        a(href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma_pdf.php?i=86580", target="_blank") https://www.funcionpublica.gov.co/eva/gestornormativo/norma_pdf.php?i=86580

    li
      p
        a(href="https://www.ica.gov.co/getattachment/b51b85e3-7824-44f7-858d-c0af5a653568/Publicacion-3.aspx", target="_blank") https://www.ica.gov.co/getattachment/b51b85e3-7824-44f7-858d-c0af5a653568/Publicacion-3.aspx

    li
      p
        a(href="https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx", target="_blank") https://www.ica.gov.co/getdoc/a5c149c5-8ec8-4fed-9c22-62f31a68ae49/fertilizantes-y-bio-insumos-agricolas.aspx

    li
      p
        a(href="https://www.ica.gov.co/areas/agricola/servicios/fertilizantes-y-bio-insumos-agricolas/resolucion-150-de-2003-1-1.aspx", target="_blank") https://www.ica.gov.co/areas/agricola/servicios/fertilizantes-y-bio-insumos-agricolas/resolucion-150-de-2003-1-1.aspx

    li
      p
        a(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Certificadoras_de_Productos_Ecologicos_040219.pdf", target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Certificadoras_de_Productos_Ecologicos_040219.pdf

    li
      p
        a(href="https://www.ica.gov.co/getattachment/efc964b6-2ad3-4428-aad5-a9f2de5629d3/187.aspx", target="_blank") https://www.ica.gov.co/getattachment/efc964b6-2ad3-4428-aad5-a9f2de5629d3/187.aspx

    li
      p
        a(href="https://www.ica.gov.co/areas/agricola/servicios/inocuidad-agricola/capacitacion/cartillabpa.aspx", target="_blank") https://www.ica.gov.co/areas/agricola/servicios/inocuidad-agricola/capacitacion/cartillabpa.aspx

    li
      p
        a(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf", target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Lista_de_Operadores_Ecologicos_141218.pdf

    li
      p
        a(href="http://enciclopedia.banrepcultural.org/index.php/Mercados_verdes", target="_blank") http://enciclopedia.banrepcultural.org/index.php/Mercados_verdes

    li
      p
        a(href="https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf", target="_blank") https://www.minagricultura.gov.co/tramites-servicios/Documents/Reglamento_para_la_produccion_Organica.pdf

    li
      p
        a(href="http://bibliotecadigital.agronet.gov.co/bitstream/11348/3648/1/20061110121639_AGRICULTURAECOLOGICAMADR2006.pdf", target="_blank") http://bibliotecadigital.agronet.gov.co/bitstream/11348/3648/1/20061110121639_AGRICULTURAECOLOGICAMADR2006.pdf